<div class="container-fluid banner">
  <h1>Save your favourite movies</h1>
</div>
<div class="container mt-3">
  <h2>My lists</h2>
  <hr>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-3">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card" style="width: 300px">
            <div class="card-body" style="text-align: center; padding: 50px; background-image: url('<%= cl_image_path list.photo.key, width: 300 %>')">
              <h5 class="card-title" style="color: white"><%= list.name %></h5>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr>
</div>
<div class="container  mt-3">
  <h2>Create a new list</h2>
  <div class="card">
    <div class="card-body">
      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>
